<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	bootstrap="./Bootstrap.php"
	colors="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	beStrictAboutTestsThatDoNotTestAnything="false">
	<testsuites>
		<testsuite name="CodeIgniter Core Test Suite">
			<directory suffix="test.php">./codeigniter/core</directory>
			<directory suffix="test.php">./codeigniter/helpers</directory>
			<directory suffix="test.php">./codeigniter/libraries</directory>
		</testsuite>
		<testsuite name="Customigniter Test Suite">
			<directory suffix="Test.php">./customigniter/core</directory>
			<directory suffix="Test.php">./customigniter/security</directory>
			<directory suffix="Test.php">./customigniter/database</directory>
			<directory suffix="Test.php">./customigniter/container</directory>
			<directory suffix="Test.php">./customigniter/console</directory>
			<directory suffix="Test.php">./customigniter/log</directory>
			<directory suffix="Test.php">./customigniter/http</directory>
			<directory suffix="Test.php">./customigniter/performance</directory>
			<directory suffix="Test.php">./customigniter/events</directory>
			<directory suffix="Test.php">./customigniter/debug</directory>
			<directory suffix="Test.php">./customigniter/testing</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">../system/</directory>
			<directory suffix=".php">../src/</directory>
		</include>
	</coverage>
</phpunit>
